body {
	font-family: sans-serif;
	font-size: small;
}
 
h1 {
	margin-top: 3px;
	margin-bottom: 2px;
	font-family: Verdana;
	font-size: large;
	text-align: center;
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	font-size: medium;
	text-align: left;
}

h3 {
	font-family: Verdana;
	font-weight: normal;
	font-size: small;
	text-align: left;
}

p {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: x-small;
}

a {
    text-decoration: none;
}

a:hover {
    background-color:#0F0263;
    color:white;
}

ul.major {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bb9c87;
}

li.major {
    float: left;
}

li.major-title {
    float: left;
	font-weight: bold;
    color: #ae4949;
    padding: 5px;
    text-decoration: none;
}

ul.minor {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li.major {
    float: left;
}

li a.major {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

li.minor-title {
	font-family: Verdana;
	font-weight: bold;
	font-size: small;
    text-align: center;
    color: #ae4949;
    text-decoration: none;
}

li a.minor {
    display: block;
	font-family: Verdana;
	font-weight: normal;
	font-size: x-small;
    text-align: left;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
 
table.major {
	border-collapse: collapse;
	border: none;
	width: 25%;
}

th.major {
	font-family: Verdana;
	font-size: small;
	font-weight: normal;
	text-align: center;
	background-color: #f2e9ce;
	border: none;
	padding: 5px;
}

td.major {
	font-family: Verdana;
	font-size: small;
	font-weight: bold;
	text-align: center;
	background-color: #f2e9ce;
	border: none;
	padding: 5px;
}
 
table.mid {
	border-collapse: collapse;
    border: 1px solid black;
	width: 100%;
}

th.mid {
	font-family: Verdana;
	font-size: x-small;
	font-weight: bold;
	border: 1px solid black;
	padding: 2px;
}
 
td.mid {
	font-family: Verdana;
	font-size: small;
	border: 1px solid black;
	padding: 2px;
}

td.code {
	font-family: monospace;
	font-size: small;	
	border: 1px solid black;
	padding: 2px;
}

table.minor {
	border-collapse: collapse;
    border: 1px solid black;
	width: 25%;
}

th.minor {
	font-family: Verdana;
	font-size: x-small;
	border: 1px solid black;
}

td.minor {
	font-family: Verdana;
	font-size: x-small;
	border: 1px solid black;
}

table.members {
	border-collapse: collapse;
	width: 100%;
    border: 1px solid black;
}

th.members {
	font-family: Verdana;
	font-size: x-small;
	border: 1px solid black;
}
 
td.members {
	font-family: Verdana;
	font-size: x-small;
	border: 1px solid black;
}

td.members-id {
	font-family: Verdana;
	font-size: x-small;
	border: 1px solid black;
	text-align: right;
}
 
td.members-hilite {
	font-family: Verdana;
	font-size: x-small;
	border: 1px solid black;
	background-color: #dcdcdc;
}

td.members-id-hilite {
	font-family: Verdana;
	font-size: x-small;
	text-align: right;
	border: 1px solid black;
	background-color: #dcdcdc;
}

#controlContainer {
    display: flex;
    width: 100%;
    height: 25px;
}

#globalControl {
	width: 250px;
	flex-basis: auto;
	background-color: #bb9c87;
}

#protocolControl {
	width: 100%;
}

#contentContainer {
    display: flex;
    width: 100%;
    height: 1000px;
}

#listFrame {
	width: 250px;
}

#contentFrame {
	width: 100%;
}

.dropdownLabel {
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bb9c87;
    min-width: 160px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #bb9c87;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: #bb9c87;
}


/* The Mangrove IIII Color Palette */